{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8 news-content">
            {% include('messages.html') %}
            {{ news.text|safe }}
            <br/>
            <br/>
            <h3>Комментарии:</h3>
            {% if current_user.is_authenticated %}
                <form action="{{ url_for('news.add_comment') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.comment() }}
                    </div>
                    {{ form.submit() }}
                </form>
            {% else %}
                <p>
                    <a href="{{ url_for('user.login', next=request.full_path) }}">Авторизуйтесь</a>, чтобы комментировать!
                </p>
            {% endif %}
            <br/>
            {% if news.comments %}
                {% for comment in news.comments %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">{{ comment.text }}</p>
                        <p class="card-text">
                            <small>Опубликовано: {{ comment.created.strftime('%d.%m.%Y') }} | Автор: {{ comment.user.name }}</small>
                        </p>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            <h2>Популярные новости</h2>
        </div>
    </div>
{% endblock %}